html {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: greenyellow;
    color: brown;
}
a {
    text-decoration: none;
    color: black;
    color: brown;
}